<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Pick组评论管理</title>
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">
    <script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<form>
    <div class="mdui-textfield">
        <input class="mdui-textfield-input" type="text" placeholder="评论内容"/>
        <!-- 影子用户列表-->
        <select class="mdui-select">
            <option value="1">State 1</option>
            <option value="2">State 2</option>
            <option value="3" disabled>State 3</option>
            <option value="4">State 4</option>
            <option value="5">State 5</option>
            <option value="6">State 6</option>
        </select>
    </div>
</form>
</body>
</html>